

li{
    background-color:#1a3336;
    padding:4px;
    box-shadow:1px 1px green;
    border-radius:4px;
    height:30px;
    width:100px;
    padding-left:2px;
    padding-right:2px;
    text-align:center;
}

li:nth-child(3){
    width:200px;
}